h1{
	font-size:40px;
	background-color:red;
	color: green;
	margin: 50px

}

h2{
	background-color: red;
}

img{
	background-color: gold;
	margin: 35px;
	width:500px;
}

body{
	background-color: gold;
}