h1{
	background-color: blue;
	text-align:left;
	background-color:lightblue;
	border:10px solid darkblue;
	border-radius: 20px;
	font-size:20px; 
	padding:40px;
	margin: 21px;


}

p{
  background-color:blue;
  text-align: right;
  background-color:lightblue;
  border-radius: 20px;
  border:15px dotted blue;
  padding:40px;
  margin:21px;
}



