@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=IM+Fell+English+SC&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

h1 {
	background-color: hotpink;
	padding: 55px;
	font-size:60px;
	text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: "IM Fell English SC";
}

h2{
	padding: 30px;
	background-color: purple;
	font-size: 60px;
	text-align: right;
	font-family: 'Comforter', cursive;

}

p{
	padding: 30px;
	font-size: 25px;
	text-align: justify;
	column-count: 3;
	line-height: 1.7;
	font-family: "Dongle";

}


.name {
	font-family: 'Fira Code';
	background-color: pink;
	color: black;
	text-align: center;

	  }

	  body{

background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

    }