@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

header{
    text-align: center;
}

.a{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    height: 200px;
    column-count: 3;
    padding: 15px;
    border: 5px  dotted;
    margin: 20px;
}

.a p{
    color: black;
    line-height: 1.5rem;
}

h2{
    font-family: 'Dancing Script', cursive;
}

#b{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dotted;
    padding: 10px;
    margin: 20px;
    background: rgb(47,173,142);
background: radial-gradient(circle, rgba(47,173,142,1) 0%, rgba(76,89,154,1) 66%);
}

#b p{
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 0;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

.c{
    background-color: lightblue;
    height:200px;
    display: flex;
    border: 5px dotted;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px;
    font-family: 'Raleway', sans-serif;
   
}

.c p{
    background-color: white;
    margin: 0;
    padding: 10px;
}


#d{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dotted;
    padding: 10px;
    margin: 20px; 
    background-color: blue;
}

img{
    width: 70px;
    height: 70px;
    border: 7px solid white;
    
}


footer{
    height: 200px;
    display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  border: 5px dotted;
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  
   
  background-color: darkblue;
}

footer p{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 0;
    background-color: white;

}